<div>
  <div>
    <label for="rider-name">Name</label>
    <input type="text" id="rider-name" name="rider-name" />
  </div>
  <div>
    <label for="rider-primary-color">Primary Color</label>
    <input
      type="text"
      id="rider-primary-color"
      name="rider-primary-color"
      value="#333"
    />
  </div>
  <div>
    <label for="rider-secondary-color">Secondary Color</label>
    <input
      type="text"
      id="rider-secondary-color"
      name="rider-secondary-color"
      value="#aa2222"
    />
  </div>
  <div>
    <label for="rider-secondary-color">Tertiary Color</label>
    <input
      type="text"
      id="rider-secondary-color"
      name="rider-secondary-color"
      value="#fff"
    />
  </div>
</div>
