<h2>Edit Race</h2>
<div>
  <ul>
    <li>
      <input type="radio" name="race-type" id="race-type-distance" checked/>
      <label for="race-type-distance">Distance</label>
    </li>
    <li>
      <input type="radio" name="race-type" id="race-type-duration" />
      <label for="race-type-duration">Duration</label>
    </li>
  </ul>
  <div>
    <label for="race-param-distance">Distance (in meters)</label>
    <input
      type="number"
      id="race-param-distance"
      [(ngModel)]="raceConfiguration.distance"
      value=500
    />
  </div>
  <div>
    <label for="race-param-duration">Duration (in minutes)</label>
    <input
      type="number"
      id="race-param-duration"
      [(ngModel)]="raceConfiguration.duration"
      placeholder="0"
    />
  </div>
</div>
<div class="navigation-footer">
  <nav>
    <a (click)="confirmAndStartRace" class="navigation-button"> Main Menu </a>
    <a routerLink="/race/view" class="navigation-button">Race</a>
  </nav>
</div>
